// デスクトップPC
.detail {
  &__container {
      padding: 20px 150px;
  }
}
.certs {
  &__item {
    flex-basis: 19%;
  }
}

.side {
  display: block;
}

#flipbook {
  display: block;
}
