$cWhite: white;
$cBlack: black;
$cTlGray: #403e3d;;
$cTxYellow: #d5c392;
$cSubTitle: #535353;
$cBgGray: #fbf1d6;
$contentMaxWidth: 1070px;
$navHeight: 100px;
$cOrange: rgb(255, 145, 0);

// background-color: teal;

// &:nth-child(2) {
//   background-color: mediumvioletred;
// }